<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Ethereum</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >  
        <a href="{{ url_for('invest.return_invest_page') }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
        <h3 style="margin-top: 17px; margin-left:20px" >Ethereum</h3>
    </div>
    <div class="meio-resto">
        <div class="infos" style="height: 90px;">
            <h3>Minha reserva</h3>
            <h4 style="margin-top: 5px; font-weight:lighter;" >Quantidade:</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >Qtd {{ '%.4f' % criptos.ethereum }}</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ {{ '%.2f' % criptos.bruto }}</h4><br>
            <h4>Ethereum agora</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ {{ dados.preco }}</h4><br>
            <h4>Mínima hoje</h4>
            <h5 style="margin-top: 5px; font-weight:lighter;" >R$ {{ dados.minimo }}</h5>
            <h4 style="margin-top: 10px;">Máxima hoje</h4>
            <h5 style="margin-top: 5px; font-weight:lighter;" >R$ {{ dados.maximo }}</h5>
        </div>
        <div class="final">
            <div class="valor" style="margin-top: 270px; margin-left: 25px;">
                <label style="font-size: 18px;">Valor</label>
                <input id="valor" style="width: 250px;" class="money" type="number" placeholder="00,00" required>
            </div>
            <div style="margin-top: 120px;" class="direction">
                <button onclick="abrirModal()" class="confirmar">Comprar</button>
                <button onclick="abrirModalVender()" class="confirmar">Vender</button>
            </div>   
        </div>
    </div>

    <div id="Comprar">
        <div class="conteudo">
            <form action="{{ url_for('invest.comprar') }}" method="post">
                <h2>confirmar compra</h2>
                <p id="QuantidadeModal" style="margin-top: 10px;">Quantidade</p>
                <p id="ValorModal" style="margin-top: 10px;">Valor</p>
                <input id="ValueValor" style="display: none;" name="quantidade" type="text">
                <input id="ValueQuantidade" style="display: none;" name="valor" type="valor" type="text"> 
                <input style="display: none;" name="cripto" type="valor" type="text" value="ethereum"> 
                <div style="margin-top: 80px;" class="direction">
                    <button type="submit" onclick="fecharModal()" class="confirmar">Comprar</button>
                    <button onclick="fecharModal()"  class="confirmar">Cancelar</button>
                </div>   
            </form>
        </div>
    </div>

    <div id="Vender">
        <div class="conteudo">
            <h2>Confirmar venda</h2>
            <p style="margin-top: 10px;">Quantidade</p>
            <p style="margin-top: 10px;">Valor</p>
            <div style="margin-top: 80px;" class="direction">
                <button onclick="fecharModalVender()" class="confirmar">Vender</button>
                <button onclick="fecharModalVender()"  class="confirmar">Cancelar</button>
            </div>   
        </div>
    </div>
<!--Pop up-->    
    <script>
        function abrirModal() {
            const valor = document.getElementById("valor").value;
            const preco = {{ dados.preco }}
            const quantidade = valor / preco
            document.getElementById("QuantidadeModal").textContent = "Quantidade: " + quantidade.toFixed(6);
            document.getElementById("ValorModal").textContent = "Valor R$: " + valor;
            document.getElementById("ValueQuantidade").value = valor;
            document.getElementById("ValueValor").value = quantidade;
            document.getElementById('Comprar').style.display = 'flex';
        }

        function fecharModal() {
            document.getElementById('Comprar').style.display = "none"
        }
        function abrirModalVender() {
            document.getElementById('Vender').style.display = 'flex';
        }
        function fecharModalVender() {
            document.getElementById('Vender').style.display = "none"
        }
    </script>
</body>
</html>