<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Ethereum</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('invest.return_invest_page') }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
            <h3 style="margin-top: 17px; margin-left:20px" >Ethereum</h3>
    </div>
    <div class="meio-resto">
        <div class="infos" style="height: 90px;">
            <h3>Minha reserva</h3>
            <h4 style="margin-top: 5px; font-weight:lighter;" >Quantidade:</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >0.00001</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ 5</h4><br>
            <h4>Ethereum agora</h4>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ 5</h4><br>
            <h4>Mínima hoje</h4>
            <h5 style="margin-top: 5px; font-weight:lighter;" >R$ 5</h5>
            <h4 style="margin-top: 10px;">Máxima hoje</h4>
            <h5 style="margin-top: 5px; font-weight:lighter;" >R$ 5</h5>
        </div>
        <div class="final">
            <div class="valor" style="margin-top: 270px; margin-left: 25px;">
                <label style="font-size: 18px;">Quantidade</label>
                <input style="width: 250px;" class="money" type="number" placeholder="00,00">
            </div>
            <div style="margin-top: 120px;" class="direction">
                <button onclick="abrirModal()" class="confirmar">Comprar</button>
                <button onclick="abrirModalVender()" class="confirmar">Vender</button>
            </div>   
        </div>
    </div>

    <div id="Comprar">
        <div class="conteudo">
            <h2>confirmar compra</h2>
            <p style="margin-top: 10px;">Quantidade</p>
            <p style="margin-top: 10px;">Valor</p>
            <div style="margin-top: 80px;" class="direction">
                <button onclick="fecharModal()" class="confirmar">Comprar</button>
                <button onclick="fecharModal()"  class="confirmar">Cancelar</button>
            </div>   
        </div>
    </div>

    <div id="Vender">
        <div class="conteudo">
            <h2>Confirmar venda</h2>
            <p style="margin-top: 10px;">Quantidade</p>
            <p style="margin-top: 10px;">Valor</p>
            <div style="margin-top: 80px;" class="direction">
                <button onclick="fecharModalVender()" class="confirmar">Vender</button>
                <button onclick="fecharModalVender()"  class="confirmar">Cancelar</button>
            </div>   
        </div>
    </div>
<!--Pop up-->    
    <script>
        function abrirModal() {
            document.getElementById('Comprar').style.display = 'flex';
        }
        function fecharModal() {
            document.getElementById('Comprar').style.display = "none"
        }
        function abrirModalVender() {
            document.getElementById('Vender').style.display = 'flex';
        }
        function fecharModalVender() {
            document.getElementById('Vender').style.display = "none"
        }
    </script>
</body>
</html>