<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Investir</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('home.return_home') }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
        <h3 style="margin-top: 17px; margin-left:20px" >Investir</h3>
    </div>
    <div class="meio-resto">
        <div class="infos" style="height: 90px;">
            <h5 >Total Investido</h5>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ 12000</h4>
        </div>
        <div class="infos" style="height: 50px;">
            <h5>Bitcoin</h5>
            <h4 style="margin-top: 5px; font-weight:lighter; font-size:16px" >R$ 12000</h4>
        </div>
        <div class="infos" style="height: 50px;">
            <h5>Ethereum</h5>
            <h4 style="margin-top: 5px; font-weight:lighter; font-size:16px" >R$ 12000</h4>
        </div>
        <div class="infos" style="height: 50px; margin-bottom: 20px;">
            <h5>Dolar</h5>
            <h4 style="margin-top: 5px; font-weight:lighter; font-size:16px"  >R$ 12000</h4>
        </div>
        <div class="final">
            <a href="{{ url_for('invest.return_bitcoin_page')}}">
                <button class="button-moeda">
                    <div class="infos-emprestimo">
                        <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Bitcoin</label>
                        <p style="font-size: 17px;">R$ 7.000</p>
                        <p style="font-size: 15px;">-2.000</p>
                    </div>
                        <img src="../../imgs/bitcoin.png" alt="setinha" height="35px">
                </button>
            </a>
            <a href="{{ url_for('invest.return_ethereum_page')}}">
                <button class="button-moeda">
                    <div class="infos-emprestimo">
                        <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Ethereum</label>
                        <p style="font-size: 17px;">R$ 1000</p>
                        <p style="font-size: 15px;">-10</p>
                    </div>
                        <img src="../../imgs/ethereum.png" alt="setinha" height="35px">
                </button>
            </a>
            <a href="{{ url_for('invest.return_dolar_page')}}">
                <button class="button-moeda">
                    <div class="infos-emprestimo">
                        <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Dolar</label>
                        <p style="font-size: 17px;">R$ 3.000</p>
                        <p style="font-size: 15px;">-1.000</p>
                    </div>
                        <img src="../../imgs/dolar.png" alt="setinha" height="35px">
                </button>
            </a>
        </div>
    </div>
</body>
</html>