* {
    margin:  0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.direction {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

body {
    background-color: #000000; ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    font-weight: bold;
}

.nav-superior {
    background-color: #761f75;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 420px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.nav-superior button {
    background-color: #761f75;
    border: none;
    margin-left: 105px;
    font-size: 17px;
}

.nav-superior button:hover {
    color: #300827;
}

.bell {
    position: relative;
    background-color:#300827;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bell img {
    height: 30px;
    width: 30px;
}

.notification {
    position: relative;
    display: flex;
    width: 65px;
    height: 60px;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.notification:hover {
    transform: scale(1.1);
}

.number-notification {
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #4b0049;
    color: #ffffff;
}

.meio-resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #000000;
}

.infos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
}

.options-box {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    

}

.options-button {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color:#4b0049;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.options-button:hover {
    transform: scale(1.1);
}

.options-button img {
    width: 40pxpx;
    height: 40px;
}

.button-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 420px;
    background-color: #761f75;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button-inferior:hover {
    background-color: #4b0049;
}

.infos-emprestimo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 220px;
    text-align: left;
}

.final {
    margin-top: 20px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.button-superior {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../imgs/left-arrow.png");
    background-size: cover;
}

.button-notify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 420px;
    background-color: #761f75;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.info-notify {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 220px;
    text-align: left;
}


.valor {
    margin-top: 20px;
}

.money {
    background-color: #000000;
    border-top: none ;
    border-left: none;
    border-right: none;
    font-size: 25px;
    width: 200px;
    margin-left: 5px;
    padding-left: 5px;
}
.money:focus {
    outline: none;
}

.valor input:focus {
    border-bottom: 2px solid white;
    outline: none;
}


.meio-notify {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    background-color: #000000;
    box-sizing: border-box;
    padding: 20px;
}

/* Para Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}


.button-transferencia {
    margin-top: 80px;
    height: 40px;
    width: 200px;
    background-color:#761f75;
    border: none;
    font-size: 15px;
}

.button-transferencia:hover {
    background-color: #1b0516;
}

.confirmar {
    margin-top: 60px;
    width: 200px;
    height: 40px;
    background-color:#761f75;
    border: none;
}

.confirmar:hover {
    background-color: #4b0049;
}

.meio-notify p{
    font-weight: normal;
}

.button-close {
    margin-top: 15px;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    background-image: url("../imgs/close.png");
    background-size: cover;
}

.button-return {
    margin-top: 15px;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    background-image: url("../imgs/left-arrow.png");
    background-size: cover;
}

.tela-caixinhas {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 470px;
}

.caixinha {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 220px;
    width: 180px;
    background-color: #1b0516;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.caixinha-vazia {
    height: 220px;
    width: 180px;
    background-color: #1b0516;
    border-radius: 10px;
    border: none;
    background-size: cover;
    background-image: url("../imgs/add.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.caixinha:hover, .caixinha-vazia:hover {
    transform: scale(1.03);
}

.direction-caixinha {
    margin-top: 5px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}

