* {
    margin:  0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.direction {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

body {
    background-color: #300827; ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    font-weight: bold;
}

.nav-superior {
    background-color: #761f75;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 420px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.nav-superior button {
    background-color: #761f75;
    border: none;
    margin-left: 105px;
    font-size: 17px;
}

.nav-superior button:hover {
    color: #300827;
}

.bell {
    position: relative;
    background-color:#300827;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bell img {
    height: 30px;
    width: 30px;
}

.notification {
    position: relative;
    display: flex;
    width: 65px;
    height: 60px;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.notification:hover {
    transform: scale(1.1);
}

.number-notification {
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #4b0049;
    color: #ffffff;
}

.meio-resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #300827;
}

.infos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
}

.options-box {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    

}

.options-button {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color:#4b0049;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.options-button:hover {
    transform: scale(1.1);
}

.options-button img {
    width: 40pxpx;
    height: 40px;
}

.button-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 420px;
    background-color: #761f75;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button-inferior:hover {
    background-color: #4b0049;
}

.infos-emprestimo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 220px;
    text-align: left;
}

.final {
    margin-top: 20px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.button-superior {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../imgs/left-arrow.png");
    background-size: cover;
}

.button-notify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 420px;
    background-color: #761f75;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.info-notify {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 220px;
    text-align: left;
}