<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-superior"></button>
    </div>
    <div class="meio-notify" style="width: 400px">
        <label style="font-size: 24px">Qual é o valor da <br>
            transferência ?</label>
        <label style="font-weight: normal;">Saldo na conta: </label>
        <div class="valor">
            <label style="font-size: 25px;">R$</label>
            <input style="width: 250px;" class="money" type="number" placeholder="00,00">
        </div>
        <div style="margin-top: 40px;">
            <label style="font-size: 24px">Qual é a chave do <br>
                recebedor?</label>
            <div class="valor">
                <label style="font-size: 25px;">Chave:</label>
                <input class="money" type="text" placeholder="ex: 425543gfd">
            </div>
            <button class="button-transferencia">Transferir</button>
        </div>
    </div>
</body>
</html>