<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-superior"></button>
    </div>
    <div class="meio-notify" style="height:700px; width: 400px; gap: 30px; font-size: 17px;">
        <div>
            <label>Nome:</label>
            <p>Gabriel Rocha Dias</p>
        </div>
        <div>
            <label>Chave:</label>
            <p>43242376423</p>
        </div>
        <div>
            <label style="font-size: 19px;" >Valor:</label>
            <p>R$ 3489243</p>
        </div>
        <div>
            <label style="font-size: 19px;" >Senha:</label>
            <input class="money" style="font-size: 16px" type="text" placeholder="Sua senha...">
        </div>
        <button class="confirmar">Confirmar</button>
    </div>
</body>
</html>