<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>transferencia</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('home.return_home' )}}">
            <button style="margin-left: 0px;" class="button-close"></button>
        </a>
            <h4 style="margin-top: 20px; margin-left:20px" >Transferência</h4>
    </div>
    <form action="{{ url_for('transfer.return_result_transfer') }}" method="post">
        <div class="meio-notify" style="height:700px; width: 400px; gap: 30px; font-size: 17px;">
            <div>
                <label>Nome:</label>
                <p>Gabriel Rocha Dias</p>
            </div>
            <div>
                <label>Chave:</label>
                <p>43242376423</p>
            </div>
            <div>
                <label style="font-size: 19px;" >Valor:</label>
                <p>R$ 3489243</p>
            </div>
            <div>
                <label style="font-size: 19px;" >Senha:</label>
                <input class="money" style="font-size: 16px" type="text" placeholder="Sua senha...">
            </div>
            <button class="confirmar">Confirmar</button>
        </div>
    </form>
</body>
</html>