<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Registrar</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <script>alert('{{ msg }}')</script>
        {% endfor %}
    {% endif %}   
    {% endwith %} 
    <div style="height: 620px;" class="caixa-principal">
        <h1>Registrar</h1>
        <form class="form" action="{{ url_for('login_register.register_user') }}" method="post">
            <div class="inputs">
                <label for="">Login:</label>
                <input name="login" type="text" placeholder="Login..." required minlength="3">
                <label for="">Senha:</label>
                <input name="senha" type="password" placeholder="Senha..." required minlength="8">
                <label for="">Chave Pix:</label>
                <input name="chave" type="text" placeholder="Chave pix..." required minlength="6">
                <label for="">Nome:</label>
                <input name="nome" type="text" placeholder="Nome..." required minlength="3">
            </div>
            <span></span>
            <div style="margin-top: 120px;" class="buttons">
                <button type="submit" >Registrar</button>
                <a href="{{ url_for('login_register.return_home') }}">
                    <button type="button">Voltar</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>