<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Caixinha</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-return"></button>
            <h3 style="margin-top: 17px; margin-left:20px" >Criar Caixinha</h3>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <div style="margin-top: 20px;">
            <label style="font-size: 19px;" >Nome da Caixinha:</label>
            <input class="money" style="font-size: 16px" type="text" placeholder="viagem...">
            </div>


            <div style="margin-top: 20px;">
            <label style="font-size: 19px;" >Meta:</label><br>
            <input class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
            </div>


            <div style="margin-top: 20px;">
            <label style="font-size: 19px;" >Valor inicial</label><br>
            <input class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
            </div>

            <div class="photos">
                <div class="photo">
                    <img src="../../imgs-caixinha/carro.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/casa.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/casamento.webp" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/cinema.webp" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/cofre.jpeg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/moto.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/moveis.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/praia.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/reforma.webp" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/reserva.jpeg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/templo.jpg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/viagem.jpeg" alt="imagem carro">
                </div>
                <div class="photo">
                    <img src="../../imgs-caixinha/videogame.jpg" alt="imagem carro">
                </div>
            </div>

            <div style="margin-top: 130px;" class="direction">
                <button class="confirmar">Criar</button>
                <button class="confirmar">Cancelar</button>
            </div>
        </div>
    </div>
</body>
</html>