<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Caixinha</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('pig.return_pigs_page') }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
            <h3 style="margin-top: 17px; margin-left:20px" >Criar Caixinha</h3>
    </div>
    <form action="">
        <div class="meio-resto">
            <div class="infos">
                <div style="margin-top: 20px;">
                <label style="font-size: 19px;" >Nome da Caixinha:</label>
                <input class="money" style="font-size: 16px" type="text" placeholder="viagem...">
                </div>
    
    
                <div style="margin-top: 20px;">
                <label style="font-size: 19px;" >Meta:</label><br>
                <input class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
                </div>
    
    
                <div style="margin-top: 20px;">
                <label style="font-size: 19px;" >Valor inicial</label><br>
                <input class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
                </div>
    
                <div class="photos">
                    {% for imagem in imgs_caixinha %}
                        <div class="photo" tabindex="0">
                            <img src="{{ imagem }}" alt="imagem carro">
                        </div>
                    {% endfor %}    
                </div>
    
                <div style="margin-top: 130px;" class="direction">
                    <button class="confirmar">Criar</button>
                    <a class="confirmar" href="{{ url_for('pig.return_pigs_page') }}" style="text-decoration: none;">Cancelar</a>   
                </div>
            </div>
        </div>
    </form>
</body>
</html>