<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Caixinha</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-return"></button>
            <h3 style="margin-top: 17px; margin-left:20px" >Guardar Dinheiro</h3>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <h4>Total na Carteira</h4>
            <h4 style="font-weight:lighter;">R$ 2000</h4><br>

            <h4>Total Caixinha</h4>
            <h4 style="font-weight:lighter;" >R$ 2000</h4>
            <div style="display: flex; gap: 5px">
                <img style="margin-top: 7px;" src="../../imgs/up-arrow.png" alt="setinha verde do investimento" height="14px">
                <h6 style="margin-top: 10px; font-weight:lighter; color: green;">R$ 200 Ganhos</h6>
            </div><br><br>

            <div>
            <label style="font-size: 19px;" >Valor:</label>
            <input class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
            </div>

            <div style="margin-top: 20px;">
            <label style="font-size: 19px;" >Senha:</label>
            <input class="money" style="font-size: 16px" type="password" placeholder="senha...">
            </div>

            <div style="margin-top: 200px;" class="direction">
                <button class="confirmar">Guardar</button>
                <button class="confirmar">Cancelar</button>
            </div>
        </div>
    </div>
</body>
</html>