<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-return"></button>
            <h3 style="margin-top: 17px; margin-left:20px" >Caixinhas</h3>
    </div>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <h5>Total em Caixinhas</h5>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ 4003</h4>
            <div style="display: flex; gap: 5px">
                <img style="margin-top: 7px;" src="../../imgs/up-arrow.png" alt="setinha verde do investimento" height="20px">
                <h6 style="margin-top: 10px; font-weight:lighter; color: green;">R$ 4003 Ganhos</h6>
            </div>
        </div>
        <div class="final">
            <div class="tela-caixinhas">
                <div class="caixinha">
                </div>
                <div class="caixinha">
                </div>
                <div class="caixinha">
                </div>
                <div class="caixinha">
                </div>
            </div>
        </div>
            

    </div>
</body>
</html>