<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;">
        <a href="{{ url_for('home.return_home') }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
        <h3 style="margin-top: 17px; margin-left:20px" >Caixinhas</h3>
    </div>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <h5>Total em Caixinhas</h5>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ 2000</h4>
            <div style="display: flex; gap: 5px">
                <img style="margin-top: 7px;" src="/static/imgs/up-arrow.png" alt="setinha verde do investimento" height="14px">
                <h6 style="margin-top: 10px; font-weight:lighter; color: green;">R$ 200 Ganhos</h6>
            </div>
        </div>
        <div class="final">
            <div class="tela-caixinhas">
                {% if caixinhas %}
                    {% for caixinha in caixinhas %}
                        <form action="{{ url_for('pig.return_pig_page', id=caixinha.pig_id )}}"> 
                            <button type="submit" id={{ caixinha.pig_id }} class="caixinha">
                                <img style="border-radius: 10px; object-fit: fill" src="{{ caixinha.image_pig }}" alt="imagem da caixinha" height="140" width="170">
                                <div class="direction-caixinha">
                                    <p style="font-size: 16px">{{ caixinha.nome_pig }}</p>
                                    <div style="display: flex; gap: 5px">
                                        <h3 style="margin-top: 10px; font-weight:bold;">R$ {{ caixinha.total_bruto }}</h3>
                                        <img style="margin-top: 7px;" src="/static/imgs/up-arrow.png" alt="setinha verde do investimento" height="13px">
                                    </div>
                                </div>
                            </button>
                        </form>       
                    {% endfor %}                            
                    {% for caixinha in range(num_caixinhas) %}
                        <a href="{{ url_for('pig.return_pig_create') }}">
                            <button class="caixinha-vazia">    
                            </button>
                        </a>   
                    {% endfor %}    
                {% else %}
                    {% for i in range(4) %}
                        <a href="{{ url_for('pig.return_pig_create') }}">
                            <button class="caixinha-vazia">    
                            </button>
                        </a>        
                    {% endfor %}        
                {% endif %}        
            </div>
        </div>
    </div>
</body>
</html>