<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Caixinha</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('pig.return_pig_page', id=caixinha.id) }}">
            <button style="margin-left: 0px;" class="button-return"></button>
        </a>
            <h3 style="margin-top: 17px; margin-left:20px" >Resgatar Dinheiro</h3>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <h4>Total na Carteira</h4>
            <h4 style="font-weight:lighter;">R$ 10000</h4><br>

            <h4>Total Caixinha</h4>
            <h4 style="font-weight:lighter;" >R$ {{ caixinha.valor }}</h4>
            <div style="display: flex; gap: 5px">
                <img style="margin-top: 7px;" src="/static/imgs/up-arrow.png" alt="setinha verde do investimento" height="14px">
                <h6 style="margin-top: 10px; font-weight:lighter; color: green;">R$ {{ caixinha.ganhos }}</h6>
            </div><br><br>

            <form action="{{ url_for('pig.resgatar_valor', id=caixinha.id) }}" method="post">
                <div>
                    <label style="font-size: 19px;" >Valor:</label>
                    <input name="value" class="money" style="font-size: 16px" type="number" placeholder="R$ 0,00">
                </div>
    
                <div style="margin-top: 20px;">
                    <label style="font-size: 19px;" >Senha:</label>
                    <input name="senha" class="money" style="font-size: 16px" type="password" placeholder="senha...">
                </div>
    
                <div style="margin-top: 200px;" class="direction">
                    <button type="submit" class="confirmar">Resgatar</button>
                    <a class="confirmar" href="{{ url_for('pig.return_pig_page', id=caixinha.id) }}" style="text-decoration: none;">Cancelar</a>   
                </div>
            </form>

        </div>
    </div>
</body>
</html>