<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>History</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
            <button style="margin-left: 0px;" class="button-superior"></button>
    </div>
    <div class="meio-resto">
        <div class="final">
            <button class="button-notify">
                <div class="info-notify">
                    <label style="font-size: 17px; font-weight: bold;">Transferência realizada</label>
                    <p style="font-size: 15px;">Você relizou uma transferência de R$ 7.000</p>
                </div>
                <label style="margin-bottom: 35px;" for="data">11/05/2025</label>
            </button>
        </div>
    </div>
</body>
</html>