<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>History</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;" >
        <a href="{{ url_for('home.return_home') }}">
            <button style="margin-left: 0px;" class="button-close"></button>
        </a>     
        <h4 style="margin-top: 20px; margin-left:20px" >Histórico</h4>
    </div>
    <div class="meio-resto">
        <div class="final">
            {% for dado in dados %}
                <button class="button-notify">
                    <div class="info-notify">
                        <label style="font-size: 17px; font-weight: bold;">{{ dado.title_history }}</label>
                        <p style="font-size: 15px;">{{ dado.subtitle_history }}</p>
                    </div>
                    <label style="margin-bottom: 35px;" for="data">{{ dado.date_history }}</label>
                </button>
            {% endfor %}    
        </div>
    </div>
</body>
</html>