<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior">
        <div class="direction">
            <img src="../imgs/user.png" alt="icone do usuário" height="50px">
            <h4>Olá, user</h4>
        </div>
        <div class="direction">
            <button>Log-out</button>
            <div class="notification">
                <button style="margin-left: 0px; background-color:#300827;" class="bell">
                    <img src="../imgs/bell.png" alt="">
                </button>
                <div class="number-notification">1</div>
            </div>
        </div>
    </div>
    <div class="meio-resto">
        <div class="infos">
            <h5 >Saldo em conta</h5>
            <h4 style="margin-top: 5px; font-weight:lighter;" >R$ nada rapaz</h4>
        </div>
        <div class="options-box">
            <button name="money" class="options-button">
                <img src="../imgs/transfer.png" alt="">
            </button>
            <button class="options-button">
                <img src="../imgs/investment.png"" alt="">
            </button>
            <button class="options-button">
                <img src="../imgs/history.png" alt="">
            </button>
            <button class="options-button">
                <img src="../imgs/pig.png" alt="">
            </button>
        </div>
        <div class="final">
            <button class="emprestimo">
                <div class="infos-emprestimo">
                    <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Emprestimo</label>
                    <p style="font-size: 15px;">emprestimo disponível de R$ 7.000</p>
                </div>
                    <img src="../imgs/right-arrow.png" alt="setinha" height="20px">
            </button>
            <button class="emprestimo">
                <div class="infos-emprestimo">
                    <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Jogar no Tigre</label>
                    <p style="font-size: 15px;">emprestimo disponível de R$ 7.000</p>
                </div>
                    <img src="../imgs/right-arrow.png" alt="setinha" height="20px">
            </button>
            <button class="emprestimo">
                <div class="infos-emprestimo">
                    <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Doar</label>
                    <p style="font-size: 15px;">emprestimo disponível de R$ 7.000</p>
                </div>
                    <img src="../imgs/right-arrow.png" alt="setinha" height="20px">
            </button>
        </div>
            

    </div>
</body>
</html>