<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior">
        <div class="direction">
            <img src="../imgs/user.png" alt="icone do usuário" height="50px">
            <h4>Olá, user</h4>
        </div>
        <div class="direction">
            <button>Log-out</button>
            <div class="notification">
                <button style="margin-left: 0px; background-color:#300827;" class="bell">
                    <img src="../imgs/bell.png" alt="">
                </button>
                <div class="number-notification">1</div>
            </div>
        </div>
    </div>

</body>
</html>