<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;">
        <a href="{{ url_for('home.return_home') }}">
            <button style="margin-left: 0px;" class="button-close"></button>
        </a>
            <h4 style="margin-top: 20px; margin-left:20px" >Notificações</h4>
    </div>
    <div class="meio-resto">
        <div class="final">
            <button class="button-notify">
                <div class="info-notify">
                    <label style="font-size: 17px; font-weight: bold;" for="emprestimo">Saldo</label>
                    <p style="font-size: 15px;">seu limite é de R$ 7.000</p>
                </div>
                <label style="margin-bottom: 35px;" for="data">data</label>
            </button>
        </div>
    </div>
</body>
</html>