<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-superior" style="justify-content: flex-start;">
        <a href="{{ url_for('home.return_home') }}">
            <button style="margin-left: 0px;" class="button-close"></button>
        </a>
            <h4 style="margin-top: 20px; margin-left:20px" >Notificações</h4>
    </div>
    <div class="meio-resto">
        <div class="final">
            {% for notify in dados %}
                <button class="button-notify">
                    <div class="info-notify">
                        <label style="font-size: 17px; font-weight: bold;" for="emprestimo">{{ notify.title_notify }}</label>
                        <p style="font-size: 15px;">{{ notify.subtitle_notify }}</p>
                    </div>
                    <label style="margin-bottom: 35px;" for="data">{{ notify.date_notify }}</label>
                </button>
            {% endfor %}  
        </div>
    </div>
</body>
</html>